/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.padding-superior {
    padding-top: 100px;
}

.color-de-fondo {
    background-color: rgb(79, 5, 108);
    border-radius: 30px;
}

.tamañoDiv {
    width: 50%;

}